<!-- Extend base.html file -->
{% extends "vehicle/base.html" %}

<!-- Title -->
{% block title %}
Search
{% endblock%}

<!-- Body -->
{% block main %}
<div class="row">
    <h3 class="bold mb-4 mt-0 pt-0 pl-3">Search Results</h3>
    <div class="col-lg-12">
        {% if not vehicles %}
            <!-- Display error message if no vehicles are available to book -->
            <div class="jumbotron">
                <h1>All vehicles are booked!</h1>
            </div>
        {% else %}
            <!-- Display vehicles -->
            {% for vehicle in vehicles %}
            <div class="jumbotron p-2">
                <div class="row">
                    <div class="col-lg-5 p-2 pl-4">
                        <!-- Images downloaded from: -->
                        <!-- Toyota Yaris - https://www.buyacar.co.uk/cars/economical-cars/hybrid-cars/694/best-small-hybrid-cars -->
                        <!-- Toyota Aygo - https://en.wikipedia.org/wiki/Toyota_Aygo -->
                        <!-- Volkswagen Golf - https://www.autocar.co.uk/car-review/volkswagen/golf -->
                        <!-- Ford Focus - https://www.autocar.co.uk/car-review/ford/focus -->
                        <!-- Toyota Corolla - https://www.buyacar.co.uk/toyota/corolla/corolla-petrol-hatchback/1-2t-vvt-i-icon-tech-5dr-87939/deal-2725091 -->
                        <!-- Ford Mondeo - https://www.autocar.co.uk/car-review/ford/mondeo -->
                        <!-- Vauxhall Vivaro - https://www.buyacar.co.uk/vans/707/best-medium-vans -->
                        <!-- Toyota Proace - https://www.buyacar.co.uk/vans/707/best-medium-vans -->
                        <a href="vehicle/{{ vehicle.brand }}/{{ vehicle.model}}">
                            <img src="/static/{{ vehicle.image }}" class="shadow img-fit"
                                alt="Image of {{ vehicle.brand }} {{ vehicle.model}}"
                                title="{{ vehicle.brand }} {{ vehicle.model}} details">
                        </a>
                    </div>
                    <div class=" col-lg-7 pt-2 text-left">
                        <div class="row">
                            <!-- Vehicle brand & model -->
                            <div class="col-lg-6">
                                <h3><a href="vehicle/{{ vehicle.brand }}/{{ vehicle.model}}"
                                        title="{{ vehicle.brand }} {{ vehicle.model}} details">
                                        {{ vehicle.brand }} {{ vehicle.model}}
                                    </a></h3>
                            </div>
                            <!-- Vehicle type -->
                            <div class="col-lg-6">
                                <p class="text-right pr-2">{{ vehicle.vehicle_type.vehicle_type }}</p>
                            </div>
                        </div>
                        <!-- Other vehicle details -->
                        <p class="pl-3">Fuel Type: {{ vehicle.fuel_type }}</p>
                        <p class="pl-3">Gear Type: {{ vehicle.gear_type }}</p>
                        <p class="pl-3">Hire cost/day: £{{ vehicle.hire_cost }}</p>
                        <hr>
                        <h4 class="pl-3">Total hire cost: £{{ vehicle.total_cost }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% if vehicles %}
<!-- Display pagination if vehicles are present -->
<div class="alert alert-light page">
    <span class="step-links">
        {% if vehicles.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ vehicles.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ vehicles.number }} of {{ vehicles.paginator.num_pages }}
        </span>
        {% if vehicles.has_next %}
        <a href="?page={{ vehicles.next_page_number }}">next</a>
        <a href="?page={{ vehicles.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}