{% extends 'vehicle/base.html' %}

<!-- https://github.com/mitchtabian/CodingWithMitch-Blog-Course/tree/Reset-Password-and-Change-Password-(Django) -->

{% block main %}
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="jumbotron">
			<p class="m-auto p-2">
				We've emailed you instructions for setting your password, if an account exists with the email you
				entered. You should receive them shortly.
			</p>
			<p class="m-auto p-2">
				If you don't receive an email, please make sure you've entered the address you registered with,
				and check your spam folder.
			</p>
			<hr>
			<p class="m-auto p-2 text-center"><a href="/login" title="Home">Return to login page</a></p>
		</div>
	</div>
</div>
{% endblock %}